*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

a{
    color: white;
    text-decoration-color: none;
}
.nav{
    height: 15vh;
    min-height: 50px;
    width: 100%;
    background-color: black;
    position: fixed;
    font-family: 'lato','verdana',sans-serif;
    border-bottom: 3px solid#8b8178;
    color: white;
    top: 0;
    z-index: 2;
    opacity: 0.9;
}
#nav-bar{
    display: flex;
    list-style-type: none;
    align-content: space-around;
    align-items: center;
    height: inherit;
    min-height: inherit;
    z-index: inherit;
    opacity: 0.9;
    width: 100%;
}

#nav-bar > .nav-menu > li{
    text-align: left;
    padding: 5px;
    font-size: calc(12px + .2vw);
    font-weight:bold;
    cursor: pointer;
}

#nav-bar > li {
    padding: 5px;
    font-size: calc(12px + .2vw);
    font-weight: bold;
    cursor:pointer
}

#nav-bar > li > i {
    font-size: 10px;
    align-self: baseline;
}


.hover{
    background-color: #f6921e;
    color: black;
    z-index: 2;
}

#phone-menu{
    display: none;
    color: white;
    flex-grow: 2;
}

#phone-menu, #phone-menu > button{
    text-align: end;
    padding: 5px;
    font-size: 30px;
    color: white;
    background-color: black;
    border: none;
}



#logo{
    font-size: calc(25px + 1.4vh);
    padding: 5px;
    text-align: center;
    font-weight: 900;
    margin: 1vw;
    height: fit-content;
    width: fit-content;
}

span{
    color: #f6921e;
}

@media all and (max-width: 600px){
    #nav-bar .nav-menu, #nav-bar > li{
        display: none;
        transition: .5s ease all;
    }

    #phone-menu{
        display: block;
        color: white;
    }
}

@media all and (min-width: 600px){
    #mobile-drop-down{
        display: none;
    }
}



#service-options{
    display: flex;
    height: 85vh;
    width: 100%;
    background-image: linear-gradient(to right,#fcf6ba,#d1a347,#fcf6ba);
    border-bottom: 1px black solid;
    justify-content: center;
    align-items: center;
}

#about-company{
    display: flex;
    height: 70vh;
}

.drop-down-content{
    color: white;
    text-decoration-color: none;
    display: block;
}

.drop-down {
    display: none;
    position: absolute;
    background-color: #f6921e;
    width: calc(80px + 4vw);
    z-index: 2;
    border-radius: 0 4px 4px 4px;
}

.drop-down > a {
    display: block;
    text-align: left;
    margin-right: 10px;
    padding: 5px;
    color: black;
    font-weight: 600;
    font-size: calc(12px + .2vw)
}

.nav-menu{
    border-radius: 3px 3px 0px 0px;
}

.slide{
    display: block;
    position: fixed;
    width: 60%;
    font-size: -20px;
    background-color: black;
    height: 100vh;
    color: white;
    z-index: 3;
    margin-left: -2000px;
    transition-property: margin-left;
    transition-duration: 400ms;
}


