* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    height: 100%;
}

body{
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    background-color: #000000;
    color: #fefefe;
    margin: 0 0 0 0;
    font-family: "lato","verdana",sans-serif;
    letter-spacing: -1.1px;
    
}

a{
    text-decoration: none;
    font-size: 4vh;
    letter-spacing: -1.1px;
}

span{
    color: #f6921e;
}

nav{
    display: flex;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-weight:900;
    font-size: 2em;
    width: 100%;
    min-height: 2em;
    position: fixed;
    align-content: space-around;
    border-bottom: 2px solid#8b8178;
}

h1{
    color: white;
}

main{
    display: flex;
    height: 70vh;
    width: 100%;
    background-color: #000000;
    background-image: url('https://images.unsplash.com/photo-1513346940221-6f673d962e97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 15vh;
    opacity: 0.8;
}

.tagline{
    width: 50%;
    height: fit-content;
    background-color: #0c0002;
    opacity: 0.8;
    border-radius: 15px;
}

.tagline-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    width: 80%;
    height: 30vh;
    margin-top: 10px;
}


#tagline-1{
    text-align: center;
    font-size: 3.5vmin;
    font-weight: 300;
}

#tagline-2{
    text-align: center;
    margin-top: 5vh;
    font-family: 'lato', 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 4.5vmin;
    color: #ffffff;
}

footer{
    background-color: black;
    background-image: linear-gradient(#0c0002,black);
    height: 15vh;
    position:fixed;
    top: 85vh;
    width: 100%;
}


i{
    font-size:calc(20px + 2vw);
    color: rgb(255, 255, 255);
}

.button {
    transition: all .5s ease;
    color: white;
    border: 1px solid #8b8178;
    font-family:'lato','verdana' sans-serif;
    /* text-transform: uppercase; */
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : #f6921e;
    padding: 10px;
    outline: none;
    border-radius: 6px;
    font-weight: 700;
    margin: 10px;
    height: calc(50px + 5vh);
    width: 150px;
}
.button:hover {
    color: white;
    background-color: transparent;
    border: 5px solid #8b8178;
}

